.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 17px;
  border-bottom: 1px solid #BFBDB2;
}
.header__navigation {
  margin-right: 54px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}
@media (max-width: 560px) {
  .header__container {
    padding-top: 12px;
    padding-bottom: 13px;
  }
}