.main-link {
  display: inline-block;
  padding: 13px 46px;
  background-color: #F6F3E3;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  color: #241D1C;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.main-link:hover:not(:disabled) {
  background-color: #EFE7BE;
}
.main-link:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}
.main-link:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
@media (max-width: 560px) {
  .main-link {
    padding: 10px 24px;
    font-size: 12px;
  }
}