.price {
  padding: 62px 0;
}
.price__title {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}
.price__tagline {
  margin: 0 0 40px;
}
.price__wrapper-content {
  display: flex;
  gap: 32px;
}
.price__wrapper-content::before {
  content: '';
  flex-basis: 50%;
  background-position: top center;
  background-size: cover;
  background-image: url(./../img/price-bg.jpg);
}
.price__content {
  flex-basis: 50%;
}
.price__list {
  margin-bottom: 62px;
}
.price__list > * + * {
  margin-top: 24px;
}
.price__item {
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  border-bottom: 1px solid #BFBDB2;
  font-size: 14px;
  line-height: 1;
}
.price__item-title {
  text-transform: uppercase;
}
.price__item-count {
  /* flex-shrink: 0; */
  white-space: nowrap;
}

@media (max-width: 768px) {
  .price {
    padding: 40px 0;
  }
  .price__title {
    margin-bottom: 16px;
    font-size: 32px;
  }
  .price__wrapper-content::before {
    content: none;
  }
  .price__content {
    flex-basis: 100%;
  }
  .price__list {
    margin-bottom: 40px;
  }
}
@media (max-width: 560px) {
  .price {
    padding: 32px 0;
  }
  .price__title {
    margin-bottom: 8px;
    font-size: 20px;
  }
  .price__tagline {
    margin-bottom: 24px;
    font-size: 12px;
  }
  .price__list {
    margin-bottom: 24px;
  }
  .price__list > * + * {
    margin-top: 16px;
  }
  .price__item {
    padding-bottom: 6px;
    font-size: 12px;
    line-height: 1.2;
  }
}